    /* scrollbar */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .bg-custom-login {
        background-image: url(images/bg-gradient.png);
        object-fit: cover;
    }

