    /* no scrollbar */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* no scrollbar */
    

    .bg-custom-login {
        background-image: url('../images/bg-gradient.png');
        object-fit: cover;
    }

    